    h1 {
        padding-top: 20px;
        color: cornflowerblue;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    div {
        padding-top: 10px;
        text-align: center;
    }