<h1>
    Keyup Event</h1>
<div>
    <input type="text" name='user' (keyup)="getValue1($event)">
    <br>
    <input type="text" name='user' (keyup)="getValue2($event)">
    <br>
    <input type="text" name='user' (keyup)="getValue1($event)">
    <br>
    <input type="text" name='user' (keyup)="getValue2($event)">
    <br>
    <input type="text" name='user' (keyup)="getValue1($event)">
    <br>
    <input type="text" name='user' (keyup)="getValue2($event)">
    <br>
    <input type="text" name='user' (keyup)="getValue1($event)">
    <br>
    <input type="text" name='user' (keyup)="getValue2($event)">
</div>